.logo 
    {
        color: #505050;/*文字色*/
        padding: 0.5em;/*文字周りの余白*/
        display: inline-block;/*おまじない*/
        line-height: 1.3;/*行高*/
        background: #DEB887;/*背景色*/
        vertical-align: middle;
        border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
    }
.logo:before 
    {
        content: '●';
        color: white;
        margin-right: 8px;
    }
.title 
    {
        display: inline-block;
        color: #ffffff;  /* 文字の色 */
        font-size: 36pt;  /* 文字のサイズ */
        letter-spacing: 2px; /* 文字間 */
        text-shadow: 
        1px  1px 1px #003366,
        -1px  1px 1px #003366,
        1px -1px 1px #003366,
        -1px -1px 1px #003366,
        1px  0px 1px #003366,
        0px  1px 1px #003366,
        -1px  0px 1px #003366,
        0px -1px 1px #003366;    
    }
.container 
    {
        background-image: url(https://beiz.jp/images_P/japanese-paper/japanese-paper_00478.jpg);
    }
body 
    {
        background-image: url(https://beiz.jp/images_T/paper/paper_00077.jpg);
        background-size: cover;
        font-family:'Comic Sans MS';
    }
#content_wrap 
    {
        background: #fff  repeat-y left top; /*--Left drop shadow--*/
        margin: 0 auto;
        padding: 0;
        min-width: 780px; /*--Minimum Width--*/
        max-width: 1200px; /*--Maximum Width--*/
    }
.content 
    {
        background:  repeat-y right top; /*--Right drop shadow--*/
        margin: 0;
        padding: 25px 40px; /*--Padding inside of the main content--*/
        overflow: hidden;
        font-size: 1.2em;
    }

.border 
    {
        border: none;
        height: 3px;
        color: #339933;
        background-color: #339933; /* Modern Browsers */
    }